[SddmGreeterTheme]
Name=Musicaflight
Description=Musicaflight ribbons theme
Author=municorn
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=municorn@musicaloft.com
Theme-Id=musicaflight
Theme-API=2.0
